@import 'normalize';

/*------------------------------
    Begin custom CSS
------------------------------*/

body {
    background: #eee;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

section {
    margin: 0 auto;
    width: 600px;

    #hosts {
        font-weight: 300;
        min-width: 600px;

        thead {
            tr {
                background-color: #000;
                color: #fff;
            }
        }

        tr {
            &:nth-child(even) {
                background-color: #ddd;
            }    

            td {
                padding: 5px;
            }
        }
    }
}
